# Credenciales
.env

# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/

# Datos
data/raw/
data/processed/
*.db
*.sqlite
!data/bcch.db

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
.DS_Store

# Testing
.coverage
.coverage.*
htmlcov/
.pytest_cache/